.members-container {
  display: flex;
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

@media screen and (max-width: 890px) {
  .members-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 590px) {
  .members-container {
    grid-template-columns: repeat(1, 1fr);
  }
}